
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
}

.container {
    box-sizing: content-box;
    width: 100%;
    max-width: 24em;
    padding: 2em 2em;
    background-color: var(--background-color);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/*Responsivity*/

@media screen and (max-width: 450px) {
    .container {
      width: 100%;
    }
  }

h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-size: var(--h4-size);
    font-weight: var(--h4-weight);
    color: var(--primary-color);
}

.input-section {
    margin: 0.5em 0;
}

label, .error-message {
    display: block;
    font-size: 0.8em;
}

label {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.error-message {
    margin-top: 0.2em;
}

input, button {
    display: block;
    outline: none;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.3em;
    height: 3em;
}

input {
    padding: 1em 0.5em;
    border: 1.5px solid var(--alternative-color);
}

input:hover {
    border: 1.5px solid var(--hover-color);
}

button {
    font-size: var(--font-size);
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    padding: 0.8em;
    margin-top: 1.5em;
}

#submit-button:hover {
    background-color: var(--hover-color);
}

.required-color {
    color: var(--error-color);
}

.error {
    border-color: var(--error-color);
}

.valid {
    border-color: var(--sucess-color);
}

.hide {
    display: none;
}

@media only screen and (max-width: 450px) {
    .container {
        font-size: var(--font-size);
    }
}

/*--------------------Footer--------------------*/

.footer {
    display: flex;
    justify-content: left;
    margin-top: 1em;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}

.link {
    margin-left: 0.4em;
    color: var(--primary-color);
    font-weight: 500;
    font-size: var(--font-size);
}

.link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

/*--------------------Nav--------------------*/

.back {
    position: fixed;
    justify-content: left;
    align-content: start;
    height: 3em;
    width: 3em;
    margin: 1em;
    background-color: var(--background-color);
}

.back:hover {
    background-color: var(--background-hover-color);
}

#icon {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}